Makefile.in
Makefile
*.o
*.lo
*.la
*.c
*.cc
*.h
*.pyc
!init.h
!init.cc
!wrap-init.h
*.stamp
*.pc
*.deps
*.vapi
!vapi/*.vapi
!log.c
!log.h
!log.vapi
.deps
.libs
.dirstamp
.*.gvt-project
.tm_project.cache
*~
lib/gtk/keysym.vala
lib/keysym.vala
test/test
vapi/gdk-keysym.vapi
!lib/core/any.c
!lib/core/maia-any.h
!lib/core/maia-any-internal.vapi

.anjuta*
TODO.tasks

intltool-*
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it

config.*
!config.vapi
aclocal.m4
autom4te.cache
ABOUT-NLS
configure
depcomp
INSTALL
install-sh
libtool
*.m4
missing
ltmain.sh
ylwrap
compile
stamp-h1

cpp/codegen/extradefs/generate_maia_defs
doc/devhelp/
doc/mm/
doc/html/
doc/valadoc-devhelp
doc/valadoc-gtkdoc
doc/valadoc-html
doc/valadoc-mm
doc/cpp/libdoclet.so

cpp/doc/reference/Doxyfile
cpp/doc/reference/doxygen.log
cpp/doc/reference/html/
cpp/doc/reference/maiamm.devhelp2
cpp/doc/reference/maiamm.tag
cpp/src/maia_docs.xml

