Makefile.in
Makefile
*.o
*.lo
*.la
*.c
*.h
*.stamp
*.pc
*.deps
*.vapi
!vapi/*.vapi
!log.c
!log.h
!log.vapi
.deps
.libs
.dirstamp
*~

.anjuta*
TODO.tasks

intltool-*
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it

config.*
aclocal.m4
autom4te.cache
ABOUT-NLS
ChangeLog
configure
depcomp
INSTALL
install-sh
libtool
*.m4
missing
ltmain.sh
ylwrap
compile
stamp-h1
